body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f2f5 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-layout-header {
  paffing: 0 24px;
}

.app-logo {
  display: inline-block;
  background-image: url("./assets/icons/ge.png");
  width: 48px;
  height: 48px;
  background-size: cover;
  margin-top: 8px;
}

.app-title {
  vertical-align: top;
  margin-left: 8px;
}

.app-content {
  padding: 24px;
  background-color: white;
  margin-left: 8px;
  min-height: calc(100vh - 166px);
}

.top-margin {
  margin-top: 1em;
}

.right-margin {
  margin-right: 1em;
}

.left-margin {
  margin-left: 1em;
}

.bottom-margin {
  margin-bottom: 1em;
}

.float-right {
  float: right;
}
